<div class="container">
  <div class="col-lg-12 mx-auto my-5">
    <div class="card">
      <div class="card-header">
        List of Employee
      </div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Prenoms</th>
              <th scope="col">Email</th>
              <th scope="col">Salaire</th>
              <th scope="col">Lieu de residence</th>
              <th scope="col">Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo@gmail.com</td>
              <td>10.000</td>
              <td>Abobo</td>
              <td>07085698|01023658|45896321</td>
              <td><a class="btn btn-secondary">Edit</a></td>
              <td><a class="btn btn-warning">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat@gmail.com</td>
              <td>10.000</td>
              <td>Abobo</td>
              <td>07085698|07085698|01023658</td>
              <td><a class="btn btn-secondary">Edit</a></td>
              <td><a class="btn btn-warning">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
