<div class="col-lg-12 mx-auto my-5">
  <div class="card">
    <div class="card-header">
      List of Employee
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Nom</th>
          <th scope="col">Prenoms</th>
          <th scope="col">Email</th>
          <th scope="col">Salaire</th>
          <th scope="col">Lieu de residence</th>
          <th scope="col">Contact</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of listEmployees$ | async">
          <!-- <th scope="row"></th> -->
          <td>{{ employee.nom }}</td>
          <td>{{ employee.prenoms }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.salaire }}</td>
          <td>{{ employee.lieuDeResidence }}</td>
          <td>
            <ng-container *ngFor="let contact of employee.contacts">
              {{ contact }} <br />
            </ng-container>
          </td>
          <td>
            <button
              (click)="editData(employee.id)"
              class="btn btn-secondary"
              style="margin: 5px;"
            >
              Edit
            </button>
            <button
              (click)="deleteData(employee.id)"
              class="btn btn-warning"
              style="margin: 5px;"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
