<section>
  <div class="hero-flex">
    <div class="hero-info">
      <h2 class="title">Next Generation digital banking</h2>
      <p class="hero-paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit
        asperiores modi nisi. Dolores illum, porro provident nostrum eaque natus
        tempora earum eius voluptas maiores cupiditate officiis, totam harum
        praesentium corporis.
      </p>
      <button class="button" href="#">learn more</button>
    </div>
    <img
      src="../assets/img/image-mockups.png"
      alt=""
      class="img-responsive mt-4"
    />
  </div>
</section>
