.containerr {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.hero {
  background: rgb(216, 215, 215);
  padding: 1em;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  width: 35%;

  .title {
    font-size: 3rem;
  }

  .hero-paragraph {
    margin: 1em 0;
    line-height: 1.6;
    opacity: 0.5;
  }

  .button {
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
    font-size: 1.2rem;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: #fff;
    cursor: pointer;

    &:hover {
      background: rgba(49, 211, 92, 0.2);
    }
  }
}

.img-responsive {
  width: 40%;
}
